/* Глобальні стилі */

:root {
  --main-font: 'Roboto', sans-serif;
  --black: #000000;
  --navyblue: #2E2F42;
  --slate: #434455;
  --white: #FFF;
  --green-blue: #31d0aa;
  --iris: #4D5AE5;
  --ocean: #404BBF;
  --cloud: #F4F4FD;
  --cornflower: #E7E9FC;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}


ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--ocean);
  transition: color 250ms var(--cubic);
}

.li {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: var(--slate);
}


body {
  font-family: var(--main-font);
  background-color: var(--cloud);
}


/* main styles */

main {
  max-width: 1000px;
  display: flex;
  flex-direction: row-reverse;
  margin: 0px 10%;
  box-shadow: 0px 0px 45px 24px rgba(52, 34, 34, 0.2);
  }

.main-content {
    max-width: 700px;
    background-color: var(--cloud);
    width:100%;
    padding: 105px 90px;
}
/* about styles */

.about {
  margin-bottom: 40px;
}
.about-position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: var(--black);
  margin-bottom: 20px;
}
.about-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2;
  color: var(--navyblue);
  margin-bottom: 25px;
}

.about-description {
  font-size: 14px;
  line-height: 1.7;
  color: var(--slate);
  width: 400px;
}

/* project styles */

.projects {
  margin-bottom: 50px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  color: var(--navyblue);
  margin-bottom: 10px;
}

.projects-list {
  margin-left: 15px;
}

.projects-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  color: var(--black);
}

.project,
.projects-link {
  font-size: 14px;
  line-height: 1.7;
}

.projects-link {
  margin-left: 10px;
}

.project-bracket {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  color: var(--black);
}

/* songs-styles*/

.name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--black);
  margin-bottom: 10px;
}

.organization {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color:var(--ocean) ;
}

.period,
.medal {
  font-size: 12px;
  line-height: 1.25;
  color: var(--slate);
  margin-bottom: 10px;
}

.medal{
  color: var(--iris);
}

.line {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: var(--black);
}

/* education */

.lyceum {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--ocean);
  margin-bottom: 10px;
}

/* sidebarstyles */
.sidebar {
  background-color: var(--navyblue);
  padding-top: 40px;
}
.photo {
  width: 370px;
  margin-bottom: 50px;
}
.contacts,
.soft-skills {
  margin-left: 40px;
}

.contacts {
  margin-bottom: 50px;
}
.sidebar-tittle {
  color: var(--cloud);
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.contact-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  color: var(--cloud);
  margin-right: 5px;
}


.contact-link {
  display: flex;
  gap: 10px;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.7;
  color: var(--ocean);
}

.contact-link:hover,
.contact-link:focus{
  color: var(--green-blue);
}

.skills-link {
  list-style: circle;
  color: var(--cloud);
  margin-left: 17px;
}
.skills-item {
  color:var(--cornflower);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}


.icons{
  fill: currentColor;
}
